[class^="glyphicon-"],
[class*=" glyphicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons420.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.glyphicon-white,
.nav-pills > .active > a > [class^="glyphicon-"],
.nav-pills > .active > a > [class*=" glyphicon-"],
.nav-list > .active > a > [class^="glyphicon-"],
.nav-list > .active > a > [class*=" glyphicon-"],
.navbar-inverse .nav > .active > a > [class^="glyphicon-"],
.navbar-inverse .nav > .active > a > [class*=" glyphicon-"],
.dropdown-menu > li > a:hover > [class^="glyphicon-"],
.dropdown-menu > li > a:hover > [class*=" glyphicon-"],
.dropdown-menu > .active > a > [class^="glyphicon-"],
.dropdown-menu > .active > a > [class*=" glyphicon-"],
.dropdown-submenu:hover > a > [class^="glyphicon-"],
.dropdown-submenu:hover > a > [class*=" glyphicon-"] {
  background-image: url("../img/glyphicons-white420.png");
}


.glyphicon-glass {
  background-position: 0px 0px;
}
.glyphicon-leaf {
  background-position: -24px 0px;
}
.glyphicon-dog {
  background-position: -48px 0px;
}
.glyphicon-user {
  background-position: -72px 0px;
}
.glyphicon-girl {
  background-position: -96px 0px;
}
.glyphicon-car {
  background-position: -120px 0px;
}
.glyphicon-user_add {
  background-position: -144px 0px;
}
.glyphicon-user_remove {
  background-position: -168px 0px;
}
.glyphicon-film {
  background-position: -192px 0px;
}
.glyphicon-magic {
  background-position: -216px 0px;
}
.glyphicon-envelope {
  background-position: 0px -24px;
}
.glyphicon-camera {
  background-position: -24px -24px;
}
.glyphicon-heart {
  background-position: -48px -24px;
}
.glyphicon-beach_umbrella {
  background-position: -72px -24px;
}
.glyphicon-train {
  background-position: -96px -24px;
}
.glyphicon-print {
  background-position: -120px -24px;
}
.glyphicon-bin {
  background-position: -144px -24px;
}
.glyphicon-music {
  background-position: -168px -24px;
}
.glyphicon-note {
  background-position: -192px -24px;
}
.glyphicon-heart_empty {
  background-position: -216px -24px;
}
.glyphicon-home {
  background-position: 0px -48px;
}
.glyphicon-snowflake {
  background-position: -24px -48px;
}
.glyphicon-fire {
  background-position: -48px -48px;
}
.glyphicon-magnet {
  background-position: -72px -48px;
}
.glyphicon-parents {
  background-position: -96px -48px;
}
.glyphicon-binoculars {
  background-position: -120px -48px;
}
.glyphicon-road {
  background-position: -144px -48px;
}
.glyphicon-search {
  background-position: -168px -48px;
}
.glyphicon-cars {
  background-position: -192px -48px;
}
.glyphicon-notes_2 {
  background-position: -216px -48px;
}
.glyphicon-pencil {
  background-position: 0px -72px;
}
.glyphicon-bus {
  background-position: -24px -72px;
}
.glyphicon-wifi_alt {
  background-position: -48px -72px;
}
.glyphicon-luggage {
  background-position: -72px -72px;
}
.glyphicon-old_man {
  background-position: -96px -72px;
}
.glyphicon-woman {
  background-position: -120px -72px;
}
.glyphicon-file {
  background-position: -144px -72px;
}
.glyphicon-coins {
  background-position: -168px -72px;
}
.glyphicon-airplane {
  background-position: -192px -72px;
}
.glyphicon-notes {
  background-position: -216px -72px;
}
.glyphicon-stats {
  background-position: 0px -96px;
}
.glyphicon-charts {
  background-position: -24px -96px;
}
.glyphicon-pie_chart {
  background-position: -48px -96px;
}
.glyphicon-group {
  background-position: -72px -96px;
}
.glyphicon-keys {
  background-position: -96px -96px;
}
.glyphicon-calendar {
  background-position: -120px -96px;
}
.glyphicon-router {
  background-position: -144px -96px;
}
.glyphicon-camera_small {
  background-position: -168px -96px;
}
.glyphicon-dislikes {
  background-position: -192px -96px;
}
.glyphicon-star {
  background-position: -216px -96px;
}
.glyphicon-link {
  background-position: 0px -120px;
}
.glyphicon-eye_open {
  background-position: -24px -120px;
}
.glyphicon-eye_close {
  background-position: -48px -120px;
}
.glyphicon-alarm {
  background-position: -72px -120px;
}
.glyphicon-clock {
  background-position: -96px -120px;
}
.glyphicon-stopwatch {
  background-position: -120px -120px;
}
.glyphicon-projector {
  background-position: -144px -120px;
}
.glyphicon-history {
  background-position: -168px -120px;
}
.glyphicon-truck {
  background-position: -192px -120px;
}
.glyphicon-cargo {
  background-position: -216px -120px;
}
.glyphicon-compass {
  background-position: 0px -144px;
}
.glyphicon-keynote {
  background-position: -24px -144px;
}
.glyphicon-paperclip {
  background-position: -48px -144px;
}
.glyphicon-power {
  background-position: -72px -144px;
}
.glyphicon-lightbulb {
  background-position: -96px -144px;
}
.glyphicon-tag {
  background-position: -120px -144px;
}
.glyphicon-tags {
  background-position: -144px -144px;
}
.glyphicon-cleaning {
  background-position: -168px -144px;
}
.glyphicon-ruller {
  background-position: -192px -144px;
}
.glyphicon-gift {
  background-position: -216px -144px;
}
.glyphicon-umbrella {
  background-position: 0px -168px;
}
.glyphicon-book {
  background-position: -24px -168px;
}
.glyphicon-bookmark {
  background-position: -48px -168px;
}
.glyphicon-wifi {
  background-position: -72px -168px;
}
.glyphicon-cup {
  background-position: -96px -168px;
}
.glyphicon-stroller {
  background-position: -120px -168px;
}
.glyphicon-headphones {
  background-position: -144px -168px;
}
.glyphicon-headset {
  background-position: -168px -168px;
}
.glyphicon-warning_sign {
  background-position: -192px -168px;
}
.glyphicon-signal {
  background-position: -216px -168px;
}
.glyphicon-retweet {
  background-position: 0px -192px;
}
.glyphicon-refresh {
  background-position: -24px -192px;
}
.glyphicon-roundabout {
  background-position: -48px -192px;
}
.glyphicon-random {
  background-position: -72px -192px;
}
.glyphicon-heat {
  background-position: -96px -192px;
}
.glyphicon-repeat {
  background-position: -120px -192px;
}
.glyphicon-display {
  background-position: -144px -192px;
}
.glyphicon-log_book {
  background-position: -168px -192px;
}
.glyphicon-adress_book {
  background-position: -192px -192px;
}
.glyphicon-building {
  background-position: -216px -192px;
}
.glyphicon-eyedropper {
  background-position: 0px -216px;
}
.glyphicon-adjust {
  background-position: -24px -216px;
}
.glyphicon-tint {
  background-position: -48px -216px;
}
.glyphicon-crop {
  background-position: -72px -216px;
}
.glyphicon-vector_path_square {
  background-position: -96px -216px;
}
.glyphicon-vector_path_circle {
  background-position: -120px -216px;
}
.glyphicon-vector_path_polygon {
  background-position: -144px -216px;
}
.glyphicon-vector_path_line {
  background-position: -168px -216px;
}
.glyphicon-vector_path_curve {
  background-position: -192px -216px;
}
.glyphicon-vector_path_all {
  background-position: -216px -216px;
}
.glyphicon-font {
  background-position: 0px -240px;
}
.glyphicon-italic {
  background-position: -24px -240px;
}
.glyphicon-bold {
  background-position: -48px -240px;
}
.glyphicon-text_underline {
  background-position: -72px -240px;
}
.glyphicon-text_strike {
  background-position: -96px -240px;
}
.glyphicon-text_height {
  background-position: -120px -240px;
}
.glyphicon-text_width {
  background-position: -144px -240px;
}
.glyphicon-text_resize {
  background-position: -168px -240px;
}
.glyphicon-left_indent {
  background-position: -192px -240px;
}
.glyphicon-right_indent {
  background-position: -216px -240px;
}
.glyphicon-align_left {
  background-position: 0px -264px;
}
.glyphicon-align_center {
  background-position: -24px -264px;
}
.glyphicon-align_right {
  background-position: -48px -264px;
}
.glyphicon-justify {
  background-position: -72px -264px;
}
.glyphicon-list {
  background-position: -96px -264px;
}
.glyphicon-text_smaller {
  background-position: -120px -264px;
}
.glyphicon-text_bigger {
  background-position: -144px -264px;
}
.glyphicon-embed {
  background-position: -168px -264px;
}
.glyphicon-embed_close {
  background-position: -192px -264px;
}
.glyphicon-table {
  background-position: -216px -264px;
}
.glyphicon-message_full {
  background-position: 0px -288px;
}
.glyphicon-message_empty {
  background-position: -24px -288px;
}
.glyphicon-message_in {
  background-position: -48px -288px;
}
.glyphicon-message_out {
  background-position: -72px -288px;
}
.glyphicon-message_plus {
  background-position: -96px -288px;
}
.glyphicon-message_minus {
  background-position: -120px -288px;
}
.glyphicon-message_ban {
  background-position: -144px -288px;
}
.glyphicon-message_flag {
  background-position: -168px -288px;
}
.glyphicon-message_lock {
  background-position: -192px -288px;
}
.glyphicon-message_new {
  background-position: -216px -288px;
}
.glyphicon-inbox {
  background-position: 0px -312px;
}
.glyphicon-inbox_plus {
  background-position: -24px -312px;
}
.glyphicon-inbox_minus {
  background-position: -48px -312px;
}
.glyphicon-inbox_lock {
  background-position: -72px -312px;
}
.glyphicon-inbox_in {
  background-position: -96px -312px;
}
.glyphicon-inbox_out {
  background-position: -120px -312px;
}
.glyphicon-cogwheel {
  background-position: -144px -312px;
}
.glyphicon-cogwheels {
  background-position: -168px -312px;
}
.glyphicon-picture {
  background-position: -192px -312px;
}
.glyphicon-adjust_alt {
  background-position: -216px -312px;
}
.glyphicon-database_lock {
  background-position: 0px -336px;
}
.glyphicon-database_plus {
  background-position: -24px -336px;
}
.glyphicon-database_minus {
  background-position: -48px -336px;
}
.glyphicon-database_ban {
  background-position: -72px -336px;
}
.glyphicon-folder_open {
  background-position: -96px -336px;
}
.glyphicon-folder_plus {
  background-position: -120px -336px;
}
.glyphicon-folder_minus {
  background-position: -144px -336px;
}
.glyphicon-folder_lock {
  background-position: -168px -336px;
}
.glyphicon-folder_flag {
  background-position: -192px -336px;
}
.glyphicon-folder_new {
  background-position: -216px -336px;
}
.glyphicon-edit {
  background-position: 0px -360px;
}
.glyphicon-new_window {
  background-position: -24px -360px;
}
.glyphicon-check {
  background-position: -48px -360px;
}
.glyphicon-unchecked {
  background-position: -72px -360px;
}
.glyphicon-more_windows {
  background-position: -96px -360px;
}
.glyphicon-show_big_thumbnails {
  background-position: -120px -360px;
}
.glyphicon-show_thumbnails {
  background-position: -144px -360px;
}
.glyphicon-show_thumbnails_with_lines {
  background-position: -168px -360px;
}
.glyphicon-show_lines {
  background-position: -192px -360px;
}
.glyphicon-playlist {
  background-position: -216px -360px;
}
.glyphicon-imac {
  background-position: 0px -384px;
}
.glyphicon-macbook {
  background-position: -24px -384px;
}
.glyphicon-ipad {
  background-position: -48px -384px;
}
.glyphicon-iphone {
  background-position: -72px -384px;
}
.glyphicon-iphone_transfer {
  background-position: -96px -384px;
}
.glyphicon-iphone_exchange {
  background-position: -120px -384px;
}
.glyphicon-ipod {
  background-position: -144px -384px;
}
.glyphicon-ipod_shuffle {
  background-position: -168px -384px;
}
.glyphicon-ear_plugs {
  background-position: -192px -384px;
}
.glyphicon-phone {
  background-position: -216px -384px;
}
.glyphicon-step_backward {
  background-position: 0px -408px;
}
.glyphicon-fast_backward {
  background-position: -24px -408px;
}
.glyphicon-rewind {
  background-position: -48px -408px;
}
.glyphicon-play {
  background-position: -72px -408px;
}
.glyphicon-pause {
  background-position: -96px -408px;
}
.glyphicon-stop {
  background-position: -120px -408px;
}
.glyphicon-forward {
  background-position: -144px -408px;
}
.glyphicon-fast_forward {
  background-position: -168px -408px;
}
.glyphicon-step_forward {
  background-position: -192px -408px;
}
.glyphicon-eject {
  background-position: -216px -408px;
}
.glyphicon-facetime_video {
  background-position: 0px -432px;
}
.glyphicon-download_alt {
  background-position: -24px -432px;
}
.glyphicon-mute {
  background-position: -48px -432px;
}
.glyphicon-volume_down {
  background-position: -72px -432px;
}
.glyphicon-volume_up {
  background-position: -96px -432px;
}
.glyphicon-screenshot {
  background-position: -120px -432px;
}
.glyphicon-move {
  background-position: -144px -432px;
}
.glyphicon-more {
  background-position: -168px -432px;
}
.glyphicon-brightness_reduce {
  background-position: -192px -432px;
}
.glyphicon-brightness_increase {
  background-position: -216px -432px;
}
.glyphicon-circle_plus {
  background-position: 0px -456px;
}
.glyphicon-circle_minus {
  background-position: -24px -456px;
}
.glyphicon-circle_remove {
  background-position: -48px -456px;
}
.glyphicon-circle_ok {
  background-position: -72px -456px;
}
.glyphicon-circle_question_mark {
  background-position: -96px -456px;
}
.glyphicon-circle_info {
  background-position: -120px -456px;
}
.glyphicon-circle_exclamation_mark {
  background-position: -144px -456px;
}
.glyphicon-remove {
  background-position: -168px -456px;
}
.glyphicon-ok {
  background-position: -192px -456px;
}
.glyphicon-ban {
  background-position: -216px -456px;
}
.glyphicon-download {
  background-position: 0px -480px;
}
.glyphicon-upload {
  background-position: -24px -480px;
}
.glyphicon-shopping_cart {
  background-position: -48px -480px;
}
.glyphicon-lock {
  background-position: -72px -480px;
}
.glyphicon-unlock {
  background-position: -96px -480px;
}
.glyphicon-electricity {
  background-position: -120px -480px;
}
.glyphicon-ok_2 {
  background-position: -144px -480px;
}
.glyphicon-remove_2 {
  background-position: -168px -480px;
}
.glyphicon-cart_out {
  background-position: -192px -480px;
}
.glyphicon-cart_in {
  background-position: -216px -480px;
}
.glyphicon-left_arrow {
  background-position: 0px -504px;
}
.glyphicon-right_arrow {
  background-position: -24px -504px;
}
.glyphicon-down_arrow {
  background-position: -48px -504px;
}
.glyphicon-up_arrow {
  background-position: -72px -504px;
}
.glyphicon-resize_small {
  background-position: -96px -504px;
}
.glyphicon-resize_full {
  background-position: -120px -504px;
}
.glyphicon-circle_arrow_left {
  background-position: -144px -504px;
}
.glyphicon-circle_arrow_right {
  background-position: -168px -504px;
}
.glyphicon-circle_arrow_top {
  background-position: -192px -504px;
}
.glyphicon-circle_arrow_down {
  background-position: -216px -504px;
}
.glyphicon-play_button {
  background-position: 0px -528px;
}
.glyphicon-unshare {
  background-position: -24px -528px;
}
.glyphicon-share {
  background-position: -48px -528px;
}
.glyphicon-chevron-right {
  background-position: -72px -528px;
}
.glyphicon-chevron-left {
  background-position: -96px -528px;
}
.glyphicon-bluetooth {
  background-position: -120px -528px;
}
.glyphicon-euro {
  background-position: -144px -528px;
}
.glyphicon-usd {
  background-position: -168px -528px;
}
.glyphicon-gbp {
  background-position: -192px -528px;
}
.glyphicon-retweet_2 {
  background-position: -216px -528px;
}
.glyphicon-moon {
  background-position: 0px -552px;
}
.glyphicon-sun {
  background-position: -24px -552px;
}
.glyphicon-cloud {
  background-position: -48px -552px;
}
.glyphicon-direction {
  background-position: -72px -552px;
}
.glyphicon-brush {
  background-position: -96px -552px;
}
.glyphicon-pen {
  background-position: -120px -552px;
}
.glyphicon-zoom_in {
  background-position: -144px -552px;
}
.glyphicon-zoom_out {
  background-position: -168px -552px;
}
.glyphicon-pin {
  background-position: -192px -552px;
}
.glyphicon-albums {
  background-position: -216px -552px;
}
.glyphicon-rotation_lock {
  background-position: 0px -576px;
}
.glyphicon-flash {
  background-position: -24px -576px;
}
.glyphicon-google_maps {
  background-position: -48px -576px;
}
.glyphicon-anchor {
  background-position: -72px -576px;
}
.glyphicon-conversation {
  background-position: -96px -576px;
}
.glyphicon-chat {
  background-position: -120px -576px;
}
.glyphicon-male {
  background-position: -144px -576px;
}
.glyphicon-female {
  background-position: -168px -576px;
}
.glyphicon-asterisk {
  background-position: -192px -576px;
}
.glyphicon-divide {
  background-position: -216px -576px;
}
.glyphicon-snorkel_diving {
  background-position: 0px -600px;
}
.glyphicon-scuba_diving {
  background-position: -24px -600px;
}
.glyphicon-oxygen_bottle {
  background-position: -48px -600px;
}
.glyphicon-fins {
  background-position: -72px -600px;
}
.glyphicon-fishes {
  background-position: -96px -600px;
}
.glyphicon-boat {
  background-position: -120px -600px;
}
.glyphicon-delete {
  background-position: -144px -600px;
}
.glyphicon-sheriffs_star {
  background-position: -168px -600px;
}
.glyphicon-qrcode {
  background-position: -192px -600px;
}
.glyphicon-barcode {
  background-position: -216px -600px;
}
.glyphicon-pool {
  background-position: 0px -624px;
}
.glyphicon-buoy {
  background-position: -24px -624px;
}
.glyphicon-spade {
  background-position: -48px -624px;
}
.glyphicon-bank {
  background-position: -72px -624px;
}
.glyphicon-vcard {
  background-position: -96px -624px;
}
.glyphicon-electrical_plug {
  background-position: -120px -624px;
}
.glyphicon-flag {
  background-position: -144px -624px;
}
.glyphicon-credit_card {
  background-position: -168px -624px;
}
.glyphicon-keyboard_wireless {
  background-position: -192px -624px;
}
.glyphicon-keyboard_wired {
  background-position: -216px -624px;
}
.glyphicon-shield {
  background-position: 0px -648px;
}
.glyphicon-ring {
  background-position: -24px -648px;
}
.glyphicon-cake {
  background-position: -48px -648px;
}
.glyphicon-drink {
  background-position: -72px -648px;
}
.glyphicon-beer {
  background-position: -96px -648px;
}
.glyphicon-fast_food {
  background-position: -120px -648px;
}
.glyphicon-cutlery {
  background-position: -144px -648px;
}
.glyphicon-pizza {
  background-position: -168px -648px;
}
.glyphicon-birthday_cake {
  background-position: -192px -648px;
}
.glyphicon-tablet {
  background-position: -216px -648px;
}
.glyphicon-settings {
  background-position: 0px -672px;
}
.glyphicon-bullets {
  background-position: -24px -672px;
}
.glyphicon-cardio {
  background-position: -48px -672px;
}
.glyphicon-t-shirt {
  background-position: -72px -672px;
}
.glyphicon-pants {
  background-position: -96px -672px;
}
.glyphicon-sweater {
  background-position: -120px -672px;
}
.glyphicon-fabric {
  background-position: -144px -672px;
}
.glyphicon-leather {
  background-position: -168px -672px;
}
.glyphicon-scissors {
  background-position: -192px -672px;
}
.glyphicon-bomb {
  background-position: -216px -672px;
}
.glyphicon-skull {
  background-position: 0px -696px;
}
.glyphicon-celebration {
  background-position: -24px -696px;
}
.glyphicon-tea_kettle {
  background-position: -48px -696px;
}
.glyphicon-french_press {
  background-position: -72px -696px;
}
.glyphicon-coffe_cup {
  background-position: -96px -696px;
}
.glyphicon-pot {
  background-position: -120px -696px;
}
.glyphicon-grater {
  background-position: -144px -696px;
}
.glyphicon-kettle {
  background-position: -168px -696px;
}
.glyphicon-hospital {
  background-position: -192px -696px;
}
.glyphicon-hospital_h {
  background-position: -216px -696px;
}
.glyphicon-microphone {
  background-position: 0px -720px;
}
.glyphicon-webcam {
  background-position: -24px -720px;
}
.glyphicon-temple_christianity_church {
  background-position: -48px -720px;
}
.glyphicon-temple_islam {
  background-position: -72px -720px;
}
.glyphicon-temple_hindu {
  background-position: -96px -720px;
}
.glyphicon-temple_buddhist {
  background-position: -120px -720px;
}
.glyphicon-bicycle {
  background-position: -144px -720px;
}
.glyphicon-life_preserver {
  background-position: -168px -720px;
}
.glyphicon-share_alt {
  background-position: -192px -720px;
}
.glyphicon-comments {
  background-position: -216px -720px;
}
.glyphicon-flower {
  background-position: 0px -744px;
}
.glyphicon-baseball {
  background-position: -24px -744px;
}
.glyphicon-rugby {
  background-position: -48px -744px;
}
.glyphicon-ax {
  background-position: -72px -744px;
}
.glyphicon-table_tennis {
  background-position: -96px -744px;
}
.glyphicon-bowling {
  background-position: -120px -744px;
}
.glyphicon-tree_conifer {
  background-position: -144px -744px;
}
.glyphicon-tree_deciduous {
  background-position: -168px -744px;
}
.glyphicon-more_items {
  background-position: -192px -744px;
}
.glyphicon-sort {
  background-position: -216px -744px;
}
.glyphicon-filter {
  background-position: 0px -768px;
}
.glyphicon-gamepad {
  background-position: -24px -768px;
}
.glyphicon-playing_dices {
  background-position: -48px -768px;
}
.glyphicon-calculator {
  background-position: -72px -768px;
}
.glyphicon-tie {
  background-position: -96px -768px;
}
.glyphicon-wallet {
  background-position: -120px -768px;
}
.glyphicon-piano {
  background-position: -144px -768px;
}
.glyphicon-sampler {
  background-position: -168px -768px;
}
.glyphicon-podium {
  background-position: -192px -768px;
}
.glyphicon-soccer_ball {
  background-position: -216px -768px;
}
.glyphicon-blog {
  background-position: 0px -792px;
}
.glyphicon-dashboard {
  background-position: -24px -792px;
}
.glyphicon-certificate {
  background-position: -48px -792px;
}
.glyphicon-bell {
  background-position: -72px -792px;
}
.glyphicon-candle {
  background-position: -96px -792px;
}
.glyphicon-pushpin {
  background-position: -120px -792px;
}
.glyphicon-iphone_shake {
  background-position: -144px -792px;
}
.glyphicon-pin_flag {
  background-position: -168px -792px;
}
.glyphicon-turtle {
  background-position: -192px -792px;
}
.glyphicon-rabbit {
  background-position: -216px -792px;
}
.glyphicon-globe {
  background-position: 0px -816px;
}
.glyphicon-briefcase {
  background-position: -24px -816px;
}
.glyphicon-hdd {
  background-position: -48px -816px;
}
.glyphicon-thumbs_up {
  background-position: -72px -816px;
}
.glyphicon-thumbs_down {
  background-position: -96px -816px;
}
.glyphicon-hand_right {
  background-position: -120px -816px;
}
.glyphicon-hand_left {
  background-position: -144px -816px;
}
.glyphicon-hand_up {
  background-position: -168px -816px;
}
.glyphicon-hand_down {
  background-position: -192px -816px;
}
.glyphicon-fullscreen {
  background-position: -216px -816px;
}
.glyphicon-shopping_bag {
  background-position: 0px -840px;
}
.glyphicon-book_open {
  background-position: -24px -840px;
}
.glyphicon-nameplate {
  background-position: -48px -840px;
}
.glyphicon-nameplate_alt {
  background-position: -72px -840px;
}
.glyphicon-vases {
  background-position: -96px -840px;
}
.glyphicon-bullhorn {
  background-position: -120px -840px;
}
.glyphicon-dumbbell {
  background-position: -144px -840px;
}
.glyphicon-suitcase {
  background-position: -168px -840px;
}
.glyphicon-file_import {
  background-position: -192px -840px;
}
.glyphicon-file_export {
  background-position: -216px -840px;
}
.glyphicon-bug {
  background-position: 0px -864px;
}
.glyphicon-crown {
  background-position: -24px -864px;
}
.glyphicon-smoking {
  background-position: -48px -864px;
}
.glyphicon-cloud_upload {
  background-position: -72px -864px;
}
.glyphicon-cloud_download {
  background-position: -96px -864px;
}
.glyphicon-restart {
  background-position: -120px -864px;
}
.glyphicon-security_camera {
  background-position: -144px -864px;
}
.glyphicon-expand {
  background-position: -168px -864px;
}
.glyphicon-collapse {
  background-position: -192px -864px;
}
.glyphicon-collapse_top {
  background-position: -216px -864px;
}
.glyphicon-globe_af {
  background-position: 0px -888px;
}
.glyphicon-global {
  background-position: -24px -888px;
}
.glyphicon-spray {
  background-position: -48px -888px;
}
.glyphicon-nails {
  background-position: -72px -888px;
}
.glyphicon-claw_hammer {
  background-position: -96px -888px;
}
.glyphicon-classic_hammer {
  background-position: -120px -888px;
}
.glyphicon-hand_saw {
  background-position: -144px -888px;
}
.glyphicon-riflescope {
  background-position: -168px -888px;
}
.glyphicon-electrical_socket_eu {
  background-position: -192px -888px;
}
.glyphicon-electrical_socket_us {
  background-position: -216px -888px;
}
.glyphicon-pinterest {
  background-position: 0px -912px;
}
.glyphicon-dropbox {
  background-position: -24px -912px;
}
.glyphicon-google_plus {
  background-position: -48px -912px;
}
.glyphicon-jolicloud {
  background-position: -72px -912px;
}
.glyphicon-yahoo {
  background-position: -96px -912px;
}
.glyphicon-blogger {
  background-position: -120px -912px;
}
.glyphicon-picasa {
  background-position: -144px -912px;
}
.glyphicon-amazon {
  background-position: -168px -912px;
}
.glyphicon-tumblr {
  background-position: -192px -912px;
}
.glyphicon-wordpress {
  background-position: -216px -912px;
}
.glyphicon-instapaper {
  background-position: 0px -936px;
}
.glyphicon-evernote {
  background-position: -24px -936px;
}
.glyphicon-xing {
  background-position: -48px -936px;
}
.glyphicon-zootool {
  background-position: -72px -936px;
}
.glyphicon-dribbble {
  background-position: -96px -936px;
}
.glyphicon-deviantart {
  background-position: -120px -936px;
}
.glyphicon-read_it_later {
  background-position: -144px -936px;
}
.glyphicon-linked_in {
  background-position: -168px -936px;
}
.glyphicon-forrst {
  background-position: -192px -936px;
}
.glyphicon-pinboard {
  background-position: -216px -936px;
}
.glyphicon-behance {
  background-position: 0px -960px;
}
.glyphicon-github {
  background-position: -24px -960px;
}
.glyphicon-youtube {
  background-position: -48px -960px;
}
.glyphicon-skitch {
  background-position: -72px -960px;
}
.glyphicon-4square {
  background-position: -96px -960px;
}
.glyphicon-quora {
  background-position: -120px -960px;
}
.glyphicon-badoo {
  background-position: -144px -960px;
}
.glyphicon-spotify {
  background-position: -168px -960px;
}
.glyphicon-stumbleupon {
  background-position: -192px -960px;
}
.glyphicon-readability {
  background-position: -216px -960px;
}
.glyphicon-facebook {
  background-position: 0px -984px;
}
.glyphicon-twitter {
  background-position: -24px -984px;
}
.glyphicon-instagram {
  background-position: -48px -984px;
}
.glyphicon-posterous_spaces {
  background-position: -72px -984px;
}
.glyphicon-vimeo {
  background-position: -96px -984px;
}
.glyphicon-flickr {
  background-position: -120px -984px;
}
.glyphicon-last_fm {
  background-position: -144px -984px;
}
.glyphicon-rss {
  background-position: -168px -984px;
}
.glyphicon-skype {
  background-position: -192px -984px;
}
.glyphicon-e-mail {
  background-position: -216px -984px;
}
